* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #343d46;
  background: linear-gradient(to bottom, #65737e, #343d46)
}

article {
  margin: auto;
  max-width: 800px;
}

header {
  margin: 20px auto 0;
}

ul {
  list-style: none;
  padding: 15px;
}

ul > ul {
  padding-top: 0;
}

h1 {
  margin-top: 0;
}

a {
  color: #2a2a2a;
  transition: color 0.4s ease;
  text-decoration: none;
}

small {
  display: flex;
  align-items: center;
}

code {
  color: #f42e74;
  background: whitesmoke;
  padding: 2px;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto auto 10px;
  position: relative;
}

footer p {
  display: flex;
  margin: 0 0 0 20px;
  align-items: center;
}

.github-container {
  display: flex;
}

.github-logo {
  height: 50px;
  width: 50px;
}

.github-link {
  margin: auto;
  display: flex;
  margin-top: auto;
  padding: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #2a2a2a;
  transition: color 0.4s ease;
}

a:hover,
.github-link:hover {
  color: #6489e2;
  text-decoration: underline;
}

.site-wrapper {
  font-family: 'Montserrat', sans-serif;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  min-height: 100vh;
  max-width: 1000px;
  background: #b7b7b7;
  background: linear-gradient(to bottom, #a7adba, #c0c5ce 70%);
}

.logo {
  max-height: 270px;#a7adba
  max-width: 270px;
}

@media (max-width: 838px) {
  article {
    margin: auto 20px;
  }
}
